<header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" routerLink="/accueil">
                <img class="logo" src="images/logos/LogoTTA.svg" alt="Logo Trouve Ton Artisan" width="130" height="60"
                    class="d-inline-block align-text-top">
            </a>

            <!-- Bouton Hamburger (menu mobile) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu de navigation -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/" routerLinkActive="active"
                            aria-current="page">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/categorie', 'Bâtiment']">Bâtiment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/categorie', 'Services']">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/categorie', 'Fabrication']">Fabrication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/categorie', 'Alimentation']">Alimentation</a>
                    </li>
                </ul>
            </div>

            <!-- Composant de barre de recherche -->
            <div class="search-bar col-4">
                <!-- Instance de SearchBar avec la loupe -->
                <app-search-bar [modeOnRealTimeSearch]="mode === 'realtime'" (search)="onSearch($event)">
                </app-search-bar>
            </div>
        </div>
    </nav>
</header>