.rating-stars {
    display: inline-block;
    font-size: 1.25rem;
    /* Taille des étoiles */
    color: #0074c7;
    /* Couleur des étoiles pleines et demi-étoiles */

    .fa-star-o {
        color: #f1f8fc;
        /* Couleur des étoiles vides */
    }

    .fas {
        margin-right: 0.1rem;
        /* Espacement entre les étoiles */
    }
}