<section class="error-content container d-flex flex-column gap-3 mx-3">
    <app-title [text]="'Erreur 404'" [level]="1" [icon]="'fa-tools'"
        [description]="'Cette page est inconnue et ne peut pas franchir la ligne !'">
    </app-title>

    <figure class="my-4">
        <img src="images/img/erreur404-visu.jpg" alt="Illustration Erreur 404" width="1050" height="744"
            class="img-fluid rounded" loading="lazy">
    </figure>

    <nav class="text-center mt-3">
        <a href="/" class="btn btn-primary btn-lg">Retourner à la page d'accueil</a>
    </nav>
</section>