<main class="container">
    <!-- A retirer avant finalisation -->
    <p>error404-page works!</p>

    <h1 class="display-4 fw-bold text-danger">Erreur 404</h1>

    <p class="lead mt-3">Cette page n'existe pas.<br>Elle n'a jamais franchi la ligne d'arrivée.</p>

    <figure class="my-4">
        <img src="images/img/erreur404-visu.jpg" alt="Illustration Erreur 404" class="img-fluid rounded">
    </figure>

    <nav class="text-center mt-3">
        <a href="/" class="btn btn-primary btn-lg">Retourner à la page d'accueil</a>
    </nav>
</main>