<p>search-artisans works!</p>

<div *ngIf="(artisans$ | async) as artisans; else loading">
    <div *ngIf="artisans.length > 0; else noResults">
        <div *ngFor="let artisan of artisans" class="artisan-card">
            <h3>{{ artisan.name }} - Id : {{ artisan.id }}</h3>
            <p>Note : {{ artisan.note }}/5</p>
            <p>Spécialité : {{ artisan.specialty }}</p>
            <p>Localisation : {{ artisan.location }}</p>
        </div>
    </div>
</div>

<!-- Message pour aucun résultat -->
<ng-template #noResults>
    <p>Aucun artisan trouvé pour votre recherche.</p>
</ng-template>

<!-- Message pour un chargement en cours ou une erreur -->
<ng-template #loading>
    <p>Chargement des artisans... ou problème de connexion.</p>
</ng-template>