<div class="container mt-4 d-flex flex-column gap-3 bg-dark-subtle">
    <!-- Ligne 1 : Titre -->
    <h4 class="text-primary text-center mt-3">Outils de test de l'API MailDev</h4>

    <!-- Ligne 2 : Boutons de commande -->
    <div class="d-flex flex-wrap justify-content-center gap-2">
        <button class="btn btn-primary" (click)="sendTestEmail()">Envoyer un email test (#{{ messageCounter + 1
            }})</button>
        <button class="btn btn-success" (click)="getEmails()">Récupérer les emails</button>
        <button class="btn btn-danger" (click)="deleteEmails()">Supprimer tous les emails</button>
    </div>

    <!-- Ligne 3 : Message du serveur -->
    <div *ngIf="message" class="card w-100 mx-auto">
        <div class="card-header">
            <p class="m-0">Réponse du serveur de messagerie MailDev</p>
        </div>
        <div class="card-body text-info">
            <p class="m-0">{{ message }}</p>
        </div>
    </div>

    <!-- Ligne 4 : Tableau des emails -->
    <div class="card w-100 mx-auto mb-3">
        <div class="card-header">
            <h5>Liste des Emails Capturés ({{ emails.length }})</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Subject</th>
                    </tr>
                </thead>
            </table>
            <div style="max-height: 200px; overflow-y: auto;">
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let email of emails">
                            <td>{{ email.from[0].address }}</td>
                            <td>{{ email.to[0].address }}</td>
                            <td>{{ email.subject }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>