<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <h2 class="text-primary">Test de l'API MailDev</h2>
            <p>api-maildev-test works!</p>
            <!-- Première colonne : Boutons et messages -->
            <div class="d-flex gap-2 mb-3">
                <button class="btn btn-primary" (click)="sendTestEmail()">Envoyer un email test
                    (#{{ messageCounter + 1 }})</button>
                <button class="btn btn-success" (click)="getEmails()">Récupérer les emails</button>
                <button class="btn btn-danger" (click)="deleteEmails()">Supprimer tous les emails</button>
            </div>
            <div class="card" *ngIf="message">
                <!-- Message d'information -->
                <div class="card-header">
                    <p class="m-0">Réponse du serveur de messagerie MailDev</p>
                </div>
                <div>
                    <p class="text-info card-body m-0">{{ message }}</p>
                </div>
            </div>
        </div>

        <!-- Deuxième colonne : Card avec emails récupérés -->
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5>Liste des Emails Capturés ({{emails.length}})</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- Div pour encapsuler tbody avec overflow -->
                    <div style="max-height: 200px; overflow-y: auto;">
                        <table class="table table-striped">
                            <tbody>
                                <tr *ngFor="let email of emails">
                                    <td>{{ email.from[0].address }}</td>
                                    <td>{{ email.to[0].address }}</td>
                                    <td>{{ email.subject }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>