<header class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Email Dashboard</a>
        <div class="card d-flex justify-content-center px-3 my-0">
            <span [class.text-success]="serverStatus === 'UP'" [class.text-danger]="serverStatus === 'DOWN'">
                Serveur : {{ serverStatus === 'UP' ? 'Actif' : 'Hors ligne' }}
            </span>
            <span [class.text-success]="mailDevStatus === 'UP'" [class.text-danger]="mailDevStatus === 'DOWN'">
                MailDev : {{ mailDevStatus === 'UP' ? 'Actif' : 'Hors ligne' }}
            </span>
        </div>
        <nav>
            <a class="nav-link" routerLink="/send-email"><i class="fas fa-envelope"></i> Envoyer un Email</a>
            <a class="nav-link" routerLink="/email-history"><i class="fas fa-history"></i> Historique des envois</a>
        </nav>
    </div>
</header>