body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

table {
    max-height: 70vh;
    overflow-y: auto;
}

#exportPDF {
    background-color: #28a745;
    color: white;
}

#exportCSV {
    background-color: #dc3545;
    color: white;
}

.status-container {
    width: 100%;
    max-height: 200px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.status-title {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.status-content {
    flex: 1;
    overflow-y: auto;
    font-size: 14px;
    font-family: monospace;
    padding-top: 5px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.controls button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
}

.controls button:hover {
    background: #0056b3;
}