<footer class="footer container p-0 m-0">
    <!-- Titre caché pour l'accessibilité -->
    <h2 class="visually-hidden" id="footer-navigation">Navigation du pied de page</h2>
    <div class="footer-top container bg-light" role="contentinfo" aria-labelledby="footer-navigation">
        <!-- Ligne 1 : Logo et adresse -->
        <div class="row align-items-center py-3">
            <div class="d-flex align-items-center flex-wrap">
                <div class="col-12 col-md-6">
                    <img src="images/logos/LogoTTA.svg" alt="Logo Trouve Ton Artisan" class="me-3" width="265"
                        height="150">
                </div>
                <div class="col-12 col-md-6">
                    <div class="card w-100">
                        <div class="card-header">Lyon</div>
                        <div class="card-body">
                            <p class="mb-0">101 cours Charlemagne</p>
                            <p class="mb-0">CS 20033</p>
                            <p class="mb-0">69269 Lyon CEDEX 02</p>
                            <p class="mb-0">France</p>
                            <a href="tel:+33426734000" class="text-decoration-none">+33 (0)4 26 73 40 00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ligne de séparation -->
        <hr class="m-0 bg-light">

        <!-- Ligne 2 : Pages légales -->
        <div class="row py-3 flex-wrap">
            <div class="col">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                    <li class="mx-2"><a [routerLink]="['/legal', 'mentions-legales']"
                            aria-label="Mentions légales Trouve Ton Artisan">Mentions légales</a></li>
                    <li class="mx-2"><a [routerLink]="['/legal', 'donnees-personnelles']"
                            aria-label="Mentions légales Données personnelles">Données personnelles</a>
                    </li>
                    <li class="mx-2"><a [routerLink]="['/legal', 'accessibilite']"
                            aria-label="Mentions légales Accessibilité">Accessibilité</a> </li>
                    <li class="mx-2"><a [routerLink]="['/legal', 'marches-publics']"
                            aria-label="Mentions légales Marchés publics">Marchés publics</a></li>
                    <li class="mx-2"><a [routerLink]="['/legal', 'contacts']"
                            aria-label="Mentions légales Nous contacter">Contacts</a></li>
                    <li class="mx-2"><a [routerLink]="['/legal', 'politique-cookies']"
                            aria-label="Mentions légales Politique Cookies">Politique des cookies</a>
                    </li>
                    <li class="mx-2"><a [routerLink]="['/legal', 'gestion-cookies']"
                            aria-label="Mentions légales Gestion Cookies">Gestion des cookies</a></li>
                </ul>
            </div>
        </div>

        <!-- Ligne 3 : Réseaux sociaux -->
        <div class="row text-dark py-3">
            <div class="col text-center">
                <div class="social-icons d-flex justify-content-center">
                    <a href="https://www.facebook.com" target="_blank" class="mx-2"
                        aria-label="Page Facebook de Trouve Ton Artisan">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" class="mx-2"
                        aria-label="Page LinkedIn de Trouve Ton Artisan">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://www.youtube.com" target="_blank" class="mx-2"
                        aria-label="Page YouTube de Trouve Ton Artisan">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="mx-2"
                        aria-label="Page Instagram de Trouve Ton Artisan">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank" class="mx-2"
                        aria-label="Page Twitter de Trouve Ton Artisan">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Titre caché pour l'accessibilité -->
    <h2 class="visually-hidden" id="footer-signature">Signature du pied de page</h2>
    <div class="footer-bottom container bg-secondary-subtle py-3 d-flex flex-column" role="contentinfo"
        aria-labelledby="footer-signature">
        <!-- Titre caché pour l'accessibilité -->
        <h3 class="visually-hidden" id="footer-signature-tools">Outils associés à signature du pied de page</h3>
        <!-- Ligne 4 : Signature et outils -->
        <div class="tools-block d-flex flex-column" role="contentinfo" aria-labelledby="footer-signature-tools">
            <div class="sign-block text-end">
                <button class="sign-content btn p-0 text-decoration-none text-dark" (click)="toggleToolAccess()"
                    [attr.aria-expanded]="showTools">
                    ⚡️ Propulsé par PerLucCo &copy; <span class="text-danger">&hearts;</span>
                </button>
            </div>
            <div *ngIf="showTools"
                class="tools-content d-flex flex-wrap align-items-center justify-content-center gap-2 mt-3">
                <!-- Switch Bootstrap pour Search Mode -->
                <div class="form-check form-switch mx-2">
                    <input class="form-check-input" type="checkbox" id="currentSearchModeSwitch"
                        [checked]="isValidateMode" (change)="toggleSearchMode()">
                    <label class="form-check-label" for="currentSearchModeSwitch">Saisie instantanée</label>
                </div>

                <!-- Switch Bootstrap pour MailDev -->
                <div class="form-check form-switch mx-2">
                    <input class="form-check-input" type="checkbox" id="toolsMailDevTestingSwitch"
                        [checked]="showTestComponent" (change)="toggleShowTestComponent()">
                    <label class="form-check-label" for="toolsMailDevTestingSwitch">MailDev</label>
                </div>

                <!-- Bouton générateur d'erreur (Page Erreur-404) -->
                <div>
                    <a routerLink="/erreur-404" class="btn btn-secondary">Page 404</a>
                </div>

                <!-- Bouton générateur contact (Page Contact/9) -->
                <div>
                    <a routerLink="/contact/9" class="btn btn-secondary">Contact 9</a>
                </div>

                <!-- Bouton générateur contact (Page Contact/14) -->
                <div>
                    <a routerLink="/contact/14" class="btn btn-secondary">Contact 14</a>
                </div>
            </div>
        </div>

        <!-- Titre caché pour l'accessibilité -->
        <h3 class="visually-hidden" id="footer-tools-maildev">Outils MailDev associés à signature du pied de page</h3>
        <!-- Ligne 5 : MailDev -->
        <app-api-maildev-test *ngIf="showTestComponent && showTools" role="contentinfo"
            aria-labelledby="footer-tools-maildev"></app-api-maildev-test>
    </div>
</footer>