<section class="container my-2 p-4">
    <app-title [text]="'Artisans du mois'" [level]="2" [icon]="'fa-trophy'"
        [description]="'Notre sélection du mois avec trois artisans de votre région.'">
    </app-title>

    <div class="top-artisans-container">
        <!-- Affichage du message d'erreur si les données ne peuvent pas être chargées -->
        <div *ngIf="dataError">
            <p class="alert alert-danger text-center mx-5">Désolé, suite à un problème technique, les données ne sont
                pas
                accessibles !
            </p>
        </div>

        <!-- Affichage des artisans ou du message alternatif si aucune donnée disponible -->
        <div *ngIf="topArtisans$ | async as topArtisans">
            <div class="d-flex flex-wrap justify-content-evenly gap-1">
                <div *ngFor="let artisan of topArtisans" class="col-12 col-md-6 col-lg-3">
                    <app-fiche-artisan [artisan]="artisan"></app-fiche-artisan>
                </div>
            </div>
        </div>

        <!-- Message affiché si le fichier est accessible mais ne contient pas de top artisans -->
        <p *ngIf="hasNoTopArtisans && !dataError" class="alert alert-success text-center mx-5">Aucun artisan en haut du
            classement
            pour
            le moment.</p>
    </div>
</section>