<footer class="footer d-flex justify-content-between align-items-center py-0">
    <!-- Card des statuts à gauche -->
    <div class="card px-3 my-2">
        <span [class.text-success]="serverStatus === 'UP'" [class.text-danger]="serverStatus === 'DOWN'">
            Serveur : {{ serverStatus === 'UP' ? 'Actif' : 'Hors ligne' }}
        </span>
        <span [class.text-success]="mailDevStatus === 'UP'" [class.text-danger]="mailDevStatus === 'DOWN'">
            MailDev : {{ mailDevStatus === 'UP' ? 'Actif' : 'Hors ligne' }}
        </span>
    </div>

    <!-- Texte centré dans la zone de droite -->
    <p class="my-0 text-center flex-grow-1">
        © 2025 Email Dashboard - Propulsé avec Angular par PerLucCo
    </p>
</footer>